* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

/* inicio de footer */
footer {
    width: 100%;
    background-color: #37bbed!important;
    color: white;
  }
  
  .container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  
  .container-body {
    display: flex;
    justify-content: space-between;
  }
  
  .colum1 {
    max-width: 400px;
  }
  
  .colum1 h1 {
    font-size: 20px;
  }
  
  .colum1 p {
    font-size: 15px;
    color: white;
    margin-top: 20px;
  }
  
  .colum2 {
    max-width: 400px;
  }
  
  .colum2 h1 {
    font-size: 20px;
  }
  
  .fila1 {
    margin-top: 20px;
    display: flex;
  }
  
  .fila1 img {
    width: 36px;
    height: 36px;
  }
  
  .fila1 label {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
  }
  
  .colum3 {
    max-width: 400px;
  }
  
  .colum3 h1 {
    font-size: 20px;
  }
  
  .fila2 {
    margin-top: 20px;
    display: flex;
  }
  
  .fila2 img {
    width: 36px;
    height: 36px;
  }
  
  .fila2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer {
    width: 100%;
    background-color: #fff;
  }
  
  .footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .ubicacion{
    text-decoration: none;
  }
  
  .copyright {
    color: #0072bb;
  }
  
  .copyright a {
    text-decoration: none;
    color: #337ab7;
    font-weight: bold;
  }
  
  .politica a {
    text-decoration: none;
    color: #0072bb;
  }
  
  @media screen and (max-width: 1100px) {
    .container-body {
      flex-wrap: wrap;
    }
  
    .colum1 {
      max-width: 100%;
    }
  
    .colum2,
  .colum3 {
      margin-top: 40px;
    }
  }
  /* fin del footer */